@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  /* border: 1px solid red; */
}

/* FAQS */

.faqs__box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 20px 20px 10px;
}

.faqs__box img {
  cursor: pointer;
  width: 4rem;
  transition: all 0.1s cubic-bezier(1, 0, 1, 0);
  animation-duration: 5s;
}

.faqs__box h3 {
  font-size: medium;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 600;
}

.faqs__box p {
  font-size: smaller;
  margin-top: 1rem;
}


.item {
  background: #d7d7d7;
  margin: 0.5rem 0 1rem;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  gap: 1rem;
  transition: all 0.1s cubic-bezier(1, 0, 1, 0);
}

.item h3 {
  font-weight: 600;
  font-size: 1rem;
}

.item p {
  font-size: smaller;
  margin-top: 1rem;
  line-height: 1.5;
}

.item img {
  cursor: pointer;
  width: 4rem;
  transition: all 0.1s cubic-bezier(1, 0, 1, 0);
}

/* .faqs__box p {
  font-size: smaller;
  margin-top: 1rem;
} */

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
}

.content .show {
  display: flex;
  height: auto;
  max-height: 9999px;
  transition: all 1s cubic-bezier(1, 0, 1, 0);
}



input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
